<div class="flex flex-row bg-base-100 justify-start items-center gap-2 h-20">
  @if (!showSidebar) {
  <div class="flex-none px-5">
    <app-main-icon></app-main-icon>
  </div>
  }
  <div class="flex-1 flex flex-row justify-start items-center h-full px-10">
    <div class="flex-1">
      <h1 class="text-4xl font-bold">Platform Launch</h1>
    </div>

    <div class="flex-none flex flex-row gap-5 justify-center items-center">
      <app-primary-button text="+ Add New Task" toolTipText="+ Add New Task">
      </app-primary-button>

      <app-svg-icon iconName="icon-vertical-ellipsis"></app-svg-icon>
    </div>
  </div>
</div>
